li a {
	color : lightseagreen
}

h1 {
	color : rebeccapurple
}

body {
	background: white url('images/background.gif') top; 
	/* if you add no-repeat it will just shoe the image once instead of tiling it*/
	/* also you can say anything for location, top left etc, it will put/start the image there */
}

* {
	font-family: courier;
}
